//Customizer color variables
$storefront_header_link_color: #333333;
$storefront_header_link_color_adjusted_65: #747474;

$storefront_background_color: #ffffff;
$storefront_background_color_darken: #e6e6e6;
$storefront_background_color_adjusted_7: #f8f8f8;
$storefront_background_color_adjusted_2: #fdfdfd;
$storefront_background_color_adjusted_4: #fbfbfb;
$storefront_background_color_adjusted_5: #fafafa;
$storefront_background_color_adjusted_10: #f5f5f5;
$storefront_background_color_adjusted_15: #f0f0f0;
$storefront_background_color_adjusted_28: #e3e3e3;

$storefront_header_background_color: #ffffff;
$storefront_header_background_color_adjusted_10: #f5f5f5;
$storefront_header_background_color_adjusted_15: #f0f0f0;
$storefront_header_text_color: #404040;
$storefront_header_text_color_brighten: #595959;
$storefront_heading_color: #333333;

$storefront_text_color: #6d6d6d;
$storefront_text_color_adjusted_5: #727272;
$storefront_text_color_adjusted_10: #636363;

$storefront_accent_color: #96588a;

$storefront_button_background_color: #eeeeee;
$storefront_button_background_color_darken: #d5d5d5;
$storefront_button_text_color: #333333;

$storefront_button_alt_background_color: #333333;
$storefront_button_alt_background_color_darken: #1a1a1a;
$storefront_button_alt_text_color: #ffffff;

$storefront_footer_background_color: #f0f0f0;
$storefront_footer_text_color: #6d6d6d;
$storefront_footer_link_color: #333333;
$storefront_footer_heading_color: #333333;

$storefront_hero_heading_color: #eeeeee;
$storefront_hero_text_color: #000000;